{:require  [re-demo.core]
 :init-fns [re-demo.core/init!]
 :compiler-options
 {:closure-warnings {:non-standard-jsdoc :off}
  :optimizations    :none
  :pseudo-names     true
  :parallel-build   true
  :output-dir       "js/compiled"
  :asset-path       "js/compiled"}}
